[Unit]
Description=ABLS Agent Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-server
User=abls-agent-server
Group=abls
Restart=on-failure
RestartSec=5s
StateDirectory=abls-agent-server
WorkingDirectory=/var/lib/abls-agent-server

[Install]
WantedBy=multi-user.target