[Unit]
Description=ABLS Agent Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-server
Group=abls
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target